body {
  font-family: Arial, sans-serif;
  background-color:black;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#generated__color {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  border: 5px solid black;
  margin: auto;
  width: 200px;
  height: 200px;
}

.color_code {
  color: #1c1d18;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  border: 2px solid black;
}

.controller {
  display: flex;
  margin-top: 20px;
}

button {
  background-color:inherit;
  border: 3px solid black ;
  border-radius: 10px;
  color: #444444;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-right: 30px;
  margin-left: 10px;
  padding: 10px 20px;
}

button:hover {
  background-color: black;
  color: lightcoral;
}

#saved__color {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.saved_color {
  background-color: #ffffff;
  border: 1px solid #444444;
  margin: 10px;
  width: 50px;
  height: 50px;
}
